.hero-section {
  background: linear-gradient(to right, #11998e, #38ef7d); /* Teal to green gradient */
  color: white;
 height: 480px;
}

.hero-left {
  background: linear-gradient(to right, #11998ecc, #38ef7dcc), url('/hero-banner.jpg') center/cover no-repeat;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-hero {
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 10px;
  color: #ffffff;
}

.notice-board {
  border-left: 4px solid #11998e;
  color: #000;
}
