/* General Login Button */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.login-btn {
  background-color: #3399ff;
  border: none;
  width: 100%; /* Full width on all screens */
}

.login-btn:hover {
  background-color: #007bff;
}

/* Card Styling */
.card {
  border-radius: 10px;
  width: 100%; /* Responsive default width */
  max-width: 400px;
  margin: auto;
}

/* Medium and above devices */
@media (min-width: 768px) {
  .card {
    height: auto;
    padding: 20px;
  }
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .card {
    height: auto;
    padding: 10px;
    margin-right: 20px;
   
  }

  .login-wrapper {
    padding: 00px 00px;
    width: 100%;
  }
}
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

